<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link as="style" rel="stylesheet preload" href="/normalize.min.css" />
    <link as="style" rel="stylesheet preload" href="/main.min.css" />

    <title>starter</title>
  </head>

  <body data-mx="auto">
    {{{body}}}
  </body>
</html>
